* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	border: 0;
}

html {
	scroll-behavior: smooth;
}

body {
	font-family: 'Rubik', 'Arial',sans-serif;
	line-height: 1.6;
	color: #000;
}

/*navbar*/
.navbar {
	position: fixed;
	top: 0;
	right: 0;
	z-index: 2;
}

.toggler {
	position: absolute;
	top: 0.5rem;
	right: 0.5rem; 
	width: 4rem;
	height: 4rem;
	z-index: 3;
	opacity: 0;
	cursor: pointer;
}

.hamburger {
	position: absolute;
	top: 0.5rem;
	right: 0.5rem;
	width: 4rem;
	height: 4rem;
	z-index: 2;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	background: #111;
}

.hamburger > div {
	position: absolute;
	width: 60%;
	height: 3px;
	border-radius: 1.5px;
	background-color: #fff44f;
	transition: all 0.4s ease;
}

/*Burger lines*/
.hamburger > div:before,
.hamburger > div:after  {
	content: '';
	position: absolute;
	width: 100%;
	height: 3px;
	border-radius: 1.5px;
	background-color: inherit;
	top: -10px;
}

.hamburger > div:after {
	top: 10px;
}

/*Animate*/
.toggler:checked + .hamburger>div{
	transform: rotate(135deg);
}

.toggler:checked + .hamburger>div:before, 
.toggler:checked + .hamburger>div:after{
	top: 0;
	transform: rotate(90deg);
}

.toggler:checked:hover + .hamburger>div{
	transform: rotate(225deg);
}


/*show menu*/
.menu{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	visibility: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
}

.menu > div {
    width: 200vw;
    height: 200vh;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.9);
    display: flex;
    flex: none;
    justify-content: center;
    align-items: center;
    transition: all 0.4s ease;
    transform: scale(0);
}

.menu > div > div{
	text-align: center;
	opacity: 0;
	transition: opacity 0.4s ease;
}

.menu > div >div > ul > li {
	list-style: none;
	color: #fff;
	font-size: 1.5rem;
	padding:1rem;
}

.menu > div >div > ul > li > a{
	color: inherit;
	text-decoration: none;
	transition: color 0.4s ease;
}


/*show menu*/
.toggler:checked ~ .menu{
	visibility: visible;
}

.toggler:checked ~ .menu > div{
	transform: scale(1);
	transition-duration: 0.75s;
}

.toggler:checked ~ .menu > div > div{
	opacity: 1;
}



/*Section global*/
section {
	display: flex;
	width: 100%;
	height: 800px;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

/*section:after {
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	background: inherit;
	z-index: -1;
	transform-origin: top left;
	transform:skewY(3deg);
}*/


/*section .content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
	z-index: 1;
}

*/

/*Home*/
section#home {
	background: #BB3F2F;
	/*z-index: 5;*/
}

/*.content #banner{
	align-self: center;
	text-align: center;
	margin-top: 10rem;
}
*/
/*#banner a {
	background: #CAB6A5;
	color: #fff;
	font-size: 1.5rem;
	border-radius: 2.5rem;
	padding: 1rem;
	text-decoration: none;
	transition: .3s;
	display: inline-block;
	margin-top: 1rem;
}*/
/*
a#btn {
	padding-top: 1rem;
}

#banner a:hover {
	border: 1px solid #3498db;
	background: none;
	transform: scale(1.1);
}*/
/*
#banner h1 {
	font-size: 2rem;
	font-weight: bold;
	color:#fff;
}

span#name {
	color:#4F6FC3;
	text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}


.content #profile-pic{
	align-self: center;
	margin-top: 6rem;
}
*/

/*About*/
section#about {
	background-color: #f5f5f5;
	/*z-index: 4;*/
}

section#projects {
	background-color: #4F6FC3;
	/*z-index: 3;*/
}

section#contact {
	background-color: #fff;
	/*z-index: 2;*/
}


@media (min-width: 620px){

}

@media (min-width: 960px){
	
}

@media (min-width: 1200px){
	
}
