* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	border: 0;
}

html {
	scroll-behavior: smooth;
}

body {
	font-family: 'Rubik', 'Arial',sans-serif;
	line-height: 1.6;
	color: #000;
	background-color: #BB3F2F;
}

/*navbar*/
.navbar {
	position: fixed;
	top: 0;
	right: 0;
	z-index: 3;
}

.toggler {
	position: absolute;
	top: 0.5rem;
	right: 0.5rem; 
	width: 4rem;
	height: 4rem;
	z-index: 4;
	opacity: 0;
	cursor: pointer;
}

.hamburger {
	position: absolute;
	top: 0.5rem;
	right: 0.5rem;
	width: 4rem;
	height: 4rem;
	z-index: 3;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	background: #111;
}

.hamburger > div {
	position: absolute;
	width: 60%;
	height: 3px;
	border-radius: 1.5px;
	background-color: #fff44f;
	transition: all 0.4s ease;
}

/*Burger lines*/
.hamburger > div:before,
.hamburger > div:after  {
	content: '';
	position: absolute;
	width: 100%;
	height: 3px;
	border-radius: 1.5px;
	background-color: inherit;
	top: -10px;
}

.hamburger > div:after {
	top: 10px;
}

/*Animate*/
.toggler:checked + .hamburger>div{
	transform: rotate(135deg);
}

.toggler:checked + .hamburger>div:before, 
.toggler:checked + .hamburger>div:after{
	top: 0;
	transform: rotate(90deg);
}

.toggler:checked:hover + .hamburger>div{
	transform: rotate(225deg);
}


/*show menu*/
.menu {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	visibility: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
}

.menu > div {
    width: 200vw;
    height: 200vh;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.9);
    display: flex;
    flex: none;
    justify-content: center;
    align-items: center;
    transition: all 0.4s ease;
    transform: scale(0);
}

.menu > div > div{
	text-align: center;
	opacity: 0;
	transition: opacity 0.4s ease;
}

.menu > div >div > ul > li {
	list-style: none;
	color: #fff;
	font-size: 1.5rem;
	padding:1rem;
}

.menu > div >div > ul > li > a{
	color: inherit;
	text-decoration: none;
	transition: color 0.4s ease;
}

/*show menu*/
.toggler:checked ~ .menu{
	visibility: visible;
}

.toggler:checked ~ .menu > div{
	transform: scale(1);
	transition-duration: 0.75s;
}

.toggler:checked ~ .menu > div > div{
	opacity: 1;
}


/*Section global*/
section {
	display: flex;
	position: relative;
	width: 100%;
	height: 600px;
}

section:after {
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	background: inherit;
	transform-origin: top left;
	transform:skewY(3deg);
	z-index: 1;
}

.content {
	z-index: 2;
}

/*Home section*/
#home .content-1 {
	display: flex;
	width: 100%;
	height: 100%;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#home {
	background-color: #BB3F2F;
}

#banner{
	text-align: center;
	margin-top: 10rem;
}

#banner a {
	background: #499dce;
	color: #fff;
	font-size: 1.5rem;
	border-radius: 2.5rem;
	padding: 1rem;
	text-decoration: none;
	transition: .3s;
	display: inline-block;
	margin-top: 1rem;
}

#banner a:hover {
	border: 1px solid #3498db;
	background: none;
	transform: scale(1.1);
}

#banner h1 {
	font-size: 2rem;
	font-weight: bold;
	color:#fff;
}

span#name {
	color:#4F6FC3;
	text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.content #profile-pic{
	margin-top: 4rem;
}

#profile-pic .profile_laptop {
	display: none;
}


/*About section*/
#about {
	background-color: #f6f6f6;
}

#about .content-2 {
	display: flex;
	width: 100%;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

#about .about-item {
	text-align: center;
	padding: 0.5rem;
	padding-top: 2rem;
}

.cert_tablet,
.cert_laptop {
	display: none;
}

.cert_tablet:hover,
.cert_laptop:hover {
	transition: 0.5s;
	/*transform: scale(1.1);*/
}

/*Skills section*/
#skills {
	height: 700px;
	background-color: #499DCE;
}

#skills .content-3 {
	display: flex;
	width: 100%;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: #fff;
}

#skills .skills-item {
	width: 80%;
}

#skills .line {
	height: 2rem;
	position: relative;
	padding-left: 1rem;
}

#skills .skill-bar {
	height: 2rem;
	background-color: #dddddd;
	border-radius: 0.5rem;
	width: 100%;
	position: relative;
}

.skill-bar .skill-1,
.skill-bar .skill-2,
.skill-bar .skill-3,
.skill-bar .skill-4,
.skill-bar .skill-5,
.skill-bar .skill-6,
.skill-bar .skill-7,
.skill-bar .skill-8,
.skill-bar .skill-9 {
	height: 2rem;
	background-color: #264875;
	border-radius: 0.5rem;
	width: 0%;
	transition: width 1s linear;
}

.skill-bar .skill-1:before,
.skill-bar .skill-2:before,
.skill-bar .skill-3:before,
.skill-bar .skill-4:before,
.skill-bar .skill-5:before,
.skill-bar .skill-6:before,
.skill-bar .skill-7:before,
.skill-bar .skill-8:before,
.skill-bar .skill-9:before {
	content: attr(percent);
	position: absolute;
	color: #000;
	right: 0.1rem;
	padding-top: 0.2rem;
}

/*Projects section*/
#projects {
	height: 3500px;
	background-color: #f5f5f5;
}

#projects .content-4 {
	display: flex;
	width: 100%;
	flex-direction: column;
	align-items: center;
	margin-top: 3rem;
}

#projects .cards {
	opacity: 0;
	transform:translateY(1.5rem);
	transition: 2.5s all ease;
}

#projects .cards-appear {
	opacity: 1;
	transform: translateY(0px);
}

#projects .card {
	display: grid;
	grid-template-columns: 20rem;
	grid-template-rows: 15rem 5rem 20rem;
	grid-template-areas: "image" "header" "body";
	box-shadow: 5px 5px 15px rgba(0,0,0,0.7);
	border-radius: 1.1rem;
	margin-top: 1.5rem;
	transition: 0.5s ease;
}

#projects #project-4,
#projects #project-5 {
	cursor: pointer;
}

#projects .card:hover {
	transform: scale(1.1);
}

#projects .card-image {
	grid-area: image;
	border-top-left-radius: 1rem;
	border-top-right-radius: 1rem;
}

#projects .card-header {
	grid-area: header;
	text-align: center;
	margin-top: 1rem;
}


#projects .card-body {
	grid-area: body;
	margin:0.5rem;
	padding: 1rem;
}
#project-image-1 {
	background: url('../img/projects/jira middleware.png') no-repeat center;
}

#project-image-2 {
	background: url('../img/projects/rca.png') no-repeat center/cover;
}

#project-image-3 {
	background: url('../img/projects/patching scheduler.png') no-repeat center;
}

#project-image-4 {
	background: url('../img/projects/blogapp.png') no-repeat center/cover;
}

#project-image-5 {
	background: url('../img/projects/parkinlot.png') no-repeat center;
}


/*contact section*/
#contact {
	background-color: #BB3F2F;
}

#contact .content-5 {
	display: flex;
	width: 100%;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: #fff;
}

#contact .sub-headline {
	padding: 2rem;
	text-align: center;
}

footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	text-align: center;
	color: #b5b5b5;
}

#contact ul li {
	list-style-type: none;
	padding: 0.5rem;
}

#contact ul li a{
	text-decoration: none;
	color: #fff;
	align-self: center;
}

/*social media icons*/
.facebook {
    background: url('../img/icons/fb.png') no-repeat center/cover;
    height: 4rem;
    width: 4rem;
    display: inline-block;
    transition: 0.5s ease;
    cursor: pointer;
}

.linkedin {
    background: url('../img/icons/linkedin.png') no-repeat center/cover;
    height: 4rem;
    width: 4rem;
    display: inline-block;
    transition: 0.5s ease;
    cursor: pointer;
}

.github {
    background: url('../img/icons/github.png') no-repeat center/cover;
    height: 4rem;
    width: 4rem;
    display: inline-block;
    transition: 0.5s ease;
    cursor: pointer;
}

.email {
    background: url('../img/icons/email.png') no-repeat center/cover;
    height: 4rem;
    width: 4rem;
    display: inline-block;
    transition: 0.5s ease;
    cursor: pointer;
}

.facebook:hover,
.linkedin:hover,
.github:hover,
.email:hover {
	transform: scale(1.3);
}




/*Media queries*/

/*Tablet size*/
@media (min-width: 768px){
	.content h1{
		font-size: 2rem;
	}

	/*home*/
	#banner {
		text-align: left;
	}

	#banner h1{
		font-size: 2.5rem;
	}

	#home .content-1 {
		flex-direction: row;
	}

	/*about*/
	#about .about-item {
		padding: 1rem 10rem;
		font-size: 1.2rem;
	}

	#about .content-2 {
		margin-top: 4rem;
	}


	.cert_tablet {
		display: inline-block;
	}

	.cert {
		display: none;
	}
	
	/*skills*/
	#skills {
		justify-content: center;
	}
	#skills .content-3 {
		width: 80%;
	}

	/*projects*/
	#projects {
		height: 2200px;
	}

	#projects .cards {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}

	#projects .card {
		margin: 1.5rem;
	}

	/*contact*/
	#contact ul li {
		display: inline-block;
	}

}

@media (min-width: 1104px){
	.content h1{
		font-size: 2.5rem;
	}

	/*home*/
	#banner h1 {
		font-size: 3rem;
	}

	.cert_laptop {
		display: inline-block;
	}

	.cert_tablet {
		display: none;
	}

	#profile-pic .profile_laptop {
		display: inline-block;
	}

	#profile-pic .profile {
		display: none;
	}

	/*about*/
	#about .about-item {
		padding: 1rem 20rem;
	}
	
	/*projects*/
	#projects {
		height: 1500px;
	}
}

@media (min-width: 1760px){
	
	/*home*/
	#banner h1 {
		font-size: 5rem;
	}

	/*about*/
	#about .content-2 {
		margin-top: 8rem;
	}
	#about .about-item {
		padding: 2rem 35rem;
	}

	#about .about-item {
		font-size: 1.3rem;
	}

	/*skills*/
	#skills {
		height: 800px;
	}

	#skills .skills-item {
		font-size: 1.2rem;
	}
	
	/*projects*/
	#projects {
		height: 900px;
	}

	#projects .content-4 {
		margin-top: 8rem;
	}
}
