* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	border: 0;
}

html {
	scroll-behavior: smooth;
}

body {
	font-family: 'Rubik', 'Arial',sans-serif;
	line-height: 1.6;
	color: #000;
	background-color: #BB3F2F;
}

/*navbar*/
.navbar {
	position: fixed;
	top: 0;
	right: 0;
	z-index: 3;
}

.toggler {
	position: absolute;
	top: 0.5rem;
	right: 0.5rem; 
	width: 4rem;
	height: 4rem;
	z-index: 4;
	opacity: 0;
	cursor: pointer;
}

.hamburger {
	position: absolute;
	top: 0.5rem;
	right: 0.5rem;
	width: 4rem;
	height: 4rem;
	z-index: 3;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	background: #111;
}

.hamburger > div {
	position: absolute;
	width: 60%;
	height: 3px;
	border-radius: 1.5px;
	background-color: #fff44f;
	transition: all 0.4s ease;
}

/*Burger lines*/
.hamburger > div:before,
.hamburger > div:after  {
	content: '';
	position: absolute;
	width: 100%;
	height: 3px;
	border-radius: 1.5px;
	background-color: inherit;
	top: -10px;
}

.hamburger > div:after {
	top: 10px;
}

/*Animate*/
.toggler:checked + .hamburger>div{
	transform: rotate(135deg);
}

.toggler:checked + .hamburger>div:before, 
.toggler:checked + .hamburger>div:after{
	top: 0;
	transform: rotate(90deg);
}

.toggler:checked:hover + .hamburger>div{
	transform: rotate(225deg);
}


/*show menu*/
.menu{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	visibility: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
}

.menu > div {
    width: 200vw;
    height: 200vh;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.9);
    display: flex;
    flex: none;
    justify-content: center;
    align-items: center;
    transition: all 0.4s ease;
    transform: scale(0);
}

.menu > div > div{
	text-align: center;
	opacity: 0;
	transition: opacity 0.4s ease;
}

.menu > div >div > ul > li {
	list-style: none;
	color: #fff;
	font-size: 1.5rem;
	padding:1rem;
}

.menu > div >div > ul > li > a{
	color: inherit;
	text-decoration: none;
	transition: color 0.4s ease;
}


/*show menu*/
.toggler:checked ~ .menu{
	visibility: visible;
}

.toggler:checked ~ .menu > div{
	transform: scale(1);
	transition-duration: 0.75s;
}

.toggler:checked ~ .menu > div > div{
	opacity: 1;
}


/*Section global*/
section {
	display: flex;
	position: relative;
	width: 100%;
	height: 600px;
}

section:after {
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	background: inherit;
	transform-origin: top left;
	transform:skewY(3deg);
	z-index: 1;
}

.content {
	z-index: 2;
}

/*Home*/
#home .content-1 {
	display: flex;
	width: 100%;
	height: 100%;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#home {
	background-color: #BB3F2F;
}

#banner{
	text-align: center;
	margin-top: 10rem;
}

#banner a {
	background: #499dce;
	color: #fff;
	font-size: 1.5rem;
	border-radius: 2.5rem;
	padding: 1rem;
	text-decoration: none;
	transition: .3s;
	display: inline-block;
	margin-top: 1rem;
}

#banner a:hover {
	border: 1px solid #3498db;
	background: none;
	transform: scale(1.1);
}

#banner h1 {
	font-size: 2rem;
	font-weight: bold;
	color:#fff;
}

span#name {
	color:#4F6FC3;
	text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.content #profile-pic{
	margin-top: 4rem;
}


/*About*/
#about {
	background-color: #f6f6f6;
}
#about .content-2 {
	display: flex;
	width: 100%;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

#about .about-item {
	text-align: center;
	padding: 0.5rem;
	padding-top: 2rem;
}

/*skills*/
#skills {
	height: 700px;
	background-color: #499DCE;
}

#skills .content-3 {
	display: flex;
	width: 100%;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: #fff;
}

#skills .skills-item	{
	width: 80%;
}

#skills .line {
	height: 2rem;
	position: relative;
	padding-left: 1rem;
}

#skills .line:before {
	content: '';
	width: 100%;
	position: absolute;
	left: 0;
	top:0;
	height: 1.5rem;
	z-index: -2;
	background-color: #eeeeee;
	border-radius: 3rem;
}

#skills .line:after {
	content: '';
	background-color: #264875;
	height: 1.5rem;
	transition: 0.8s;
	display: block;
	width: 100%;
	animation: animate 1 2s;
	position: absolute;
	top: 0;
	left:0;
	z-index: -1;
	border-radius: 3rem;
}

#skills .line-1:after,
#skills .line-2:after,
#skills .line-3:after,
#skills .line-5:after {
	max-width: 80%;
}

#skills .line-4:after {
	max-width: 90%;
}

#skills .line-6:after,
#skills .line-7:after,
#skills .line-9:after {
	max-width: 70%;
}

#skills .line-8:after {
	max-width: 50%;
}

@keyframes animate {
	0% {
		width: 0%;	
	}

	100% {
		width: 100%;
	}
}


/*Projects*/
#projects {
	height: 3500px;
	background-color: #f5f5f5;
}
#projects .content-4 {
	display: flex;
	width: 100%;
	flex-direction: column;
	align-items: center;
	margin-top: 3rem;
}

#projects .card {
	display: grid;
	grid-template-columns: 20rem;
	grid-template-rows: 15rem 5rem 20rem;
	grid-template-areas: "image" "header" "body";
	box-shadow: 5px 5px 15px rgba(0,0,0,0.4);
	border-radius: 1.1rem;
	margin:1rem;
}

#projects .card-image {
	grid-area: image;
	border-top-left-radius: 1rem;
	border-top-right-radius: 1rem;
	/*background-size: cover;*/
}

#projects .card-header {
	grid-area: header;
	text-align: center;
	margin-top: 1rem;
}


#projects .card-body {
	grid-area: body;
	margin:0.5rem;
	padding: 1rem;
}

#project-1 {
	/*background: url('../img/rca.png');*/
}

#project-2 {
	background: url('../img/rca.PNG') no-repeat center/cover;
}

#project-3 {
	/*background: url('../img/rca.png');*/
}

#project-4 {
	background: url('../img/blogapp.PNG') no-repeat center/cover;
}

#project-5 {
	background: url('../img/parkinlot.png') no-repeat center;
}


/*contact*/
#contact {
	background-color: #BB3F2F;
}

#contact .content-5 {
	display: flex;
	width: 100%;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: #fff;
}

.sub-headline {
	padding: 2rem;
	text-align: center;
}

footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	text-align: center;
	color: #b5b5b5;
}

#contact ul li {
	list-style-type: none;
	padding: 0.5rem;
}

/*social media icons*/
.facebook {
    background: url('../img/fb.png') no-repeat center/cover;
    height: 4rem;
    width: 4rem;
    display: block;
}

.facebook:hover {
	background-color: red;
    transition: all 1s;
}

.linkedin {
    background: url('../img/linkedin.png') no-repeat center/cover;
    height: 4rem;
    width: 4rem;
    display: block;
}

.github {
    background: url('../img/github.png') no-repeat center/cover;
    height: 4rem;
    width: 4rem;
    display: block;
}

.email {
    background: url('../img/email.png') no-repeat center/cover;
    height: 4rem;
    width: 4rem;
    display: block;
}



/*Media queries*/
@media (min-width: 620px){
	
	#home .content-1 {
		flex-direction: row;
	}
}

@media (min-width: 960px){
	
}

@media (min-width: 1200px){
	
}
